<template>
	<div>about</div>
</template>

<script>
// import localforage from 'localforage';

export default {
	data() {
		return {
			adviserInfo: {}
		};
	},

	watch: {
		// adviserInfo(newVal) {
		// 	if (Object.keys(newVal).length === 0) {
		// 		return;
		// 	}
		// 	newVal && this.getDataType(newVal) === 'Object' && console.log(`watch中获取投顾二维码：${newVal.qrcodeUrl}`);
		// }
	},

	methods: {
		getDataType(data) {
			return Object.prototype.toString.call(data).match(/\[object (.*)\]/)[1];
		}
	},

	async created() {
		// const localData = await localforage.getItem('adviserInfo');
		// if (!localData) {
		// 	console.log('逻辑走到了这里');
		// 	return;
		// }
		// this.adviserInfo = localData;
		// const text =
		// 	this.adviserInfo && this.getDataType(this.adviserInfo) === 'Object' && this.adviserInfo.qrcodeUrl
		// 		? '生命钩子中获取到了投顾信息'
		// 		: 'nothing';
		// console.log(text);
		// this.$bus.$on('getAdviserInfo', data => {
		// 	console.log(data);
		// });
		const text = this.$route.query.qrcode;
		console.log(text);
	}
};
</script>

<style lang="scss" scoped></style>
