<template>
	<div class="container">
		<header class="header">header</header>
		<main class="main">
			<div class="buttons-container">
				<router-link class="button button__home" :to="{ name: 'home' }">跳转到home</router-link>
				<!-- <a href="javascript:;" class="button button__about" :to="{ name: 'about' }">跳转到about</a> -->
				<a href="javascript:;" class="button button__about" @click="jumpToAbout">跳转到about</a>
			</div>
			<div class="view-container">
				<router-view></router-view>
			</div>
		</main>
	</div>
</template>

<script>
import axios from 'axios';
import localforage from 'localforage';
import utils from '@/assets/js/utils';

const { serverId, getSign } = utils;
const protocol = window.location.protocol;
const isTestEnv = true;
const testServerId = '10011557';

export default {
	methods: {
		storeAdviserInfo(bid) {
			const protocol = window.location.protocol;
			const apiUrl = `${protocol}//test-data-platform.qh5800.com/api/2/h5/qq/dispatch.json?bid=${bid}`;

			return new Promise(resolve => {
				setTimeout(async () => {
					const { data } = await axios.get(apiUrl);
					await localforage.setItem('adviserInfo', data);
					resolve();
				}, 1000);
			});

			// const { data } = await axios.get(apiUrl);
			// await localforage.setItem('adviserInfo', data);
		},

		async jumpToAbout() {
			const localData = await localforage.getItem('adviserInfo');
			if (!localData) {
				console.log('逻辑走到了这里');
				return;
			}
			this.$router.push({
				name: 'about',
				query: {
					qrcode: localData.qrcodeUrl
				}
			});
		},

		async getServerIdList() {
			const apiUrl = `${protocol}//test-gateway.hz5800.com/mic-yskj-gateway/h5/openApi/v1.0/app/server/list`;
			const params = {
				serverName: '满牛',
				serverTypes: '2,6'
			};
			const {
				data: { data }
			} = await axios.get(apiUrl, {
				params,
				headers: {
					serverId,
					sign: getSign(params)
				}
			});
			if (!data || data.length === 0) {
				return;
			}

			let serverIdList = [];
			data.forEach(item => {
				if (!item.serverId) {
					return;
				}
				serverIdList.push(item.serverId);
			});
			if (isTestEnv) {
				serverIdList.push(testServerId);
			}
			console.log(serverIdList);
		}
	},

	async mounted() {
		await this.storeAdviserInfo('3510630');
		// this.jumpToAbout();
		// const localData = await localforage.getItem('adviserInfo');
		// if (!localData) {
		// 	console.log('逻辑走到了这里');
		// 	return;
		// }
		// this.$bus.$emit('getAdviserInfo', localData);
		// console.log('App已传值');
		this.getServerIdList();
	}
};
</script>

<style lang="scss">
* {
	padding: 0;
	margin: 0;
}

.container {
	padding: 0 20px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 0;
}

.buttons-container {
	display: flex;
	justify-content: space-between;

	.button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 48%;
		border: 0.5px solid #999;
		padding: 10px;
		box-sizing: border-box;
		text-decoration: none;
	}
}

.view-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
}
</style>
